{% extends 'web/main.html' %}
{% block title %}<title>Professional Sound</title>{% endblock %}
{% block content %}

<div class="body__overlay"></div>
<!-- Start Slider Area -->
<div class="slider__container slider--one">
    <div class="slider__activation__wrap owl-carousel owl-theme">
        <!-- Start Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide slider__full--screen"
             style="background: rgba(0, 0, 0, 0) url(../static/web/images/slider/bg/sl1.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="slider__inner">
                            <h1>New Product <span class="text--theme">Collection</span></h1>
                            <div class="slider__btn">
                                <a class="htc__btn" href="{% url 'shop' %}">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
        <!-- Start Single Slide -->
        <div class="slide slider__full--screen"
             style="background: rgba(0, 0, 0, 0) url(../static/web/images/slider/bg/sl2.jpg) no-repeat scroll center center / cover ;">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                        <div class="slider__inner">
                            <h1>New Product <span class="text--theme">Collection</span></h1>
                            <div class="slider__btn">
                                <a class="htc__btn" href="{% url 'shop' %}">shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Single Slide -->
    </div>
</div>
<!-- Start Slider Area -->

{% endblock %}