{% extends 'web/main.html' %}
{% block title %}<title>Detail | Professional Sound</title>{% endblock %}
{% block content %}

<div class="body__overlay"></div>

<!-- Start Bradcaump area -->
<div class="ht__bradcaump__area"
     style="background: rgba(0, 0, 0, 0) url(static/web/images/bg/detail.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Product Details</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Product Details</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Product Details -->
<div class="col-12 col-lg-4 col-md-6 item">
    <div class="card" style="width: 18rem;">
        <form method="post" action="">
            <img src="{{ product.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><b>{{ product.name }}</b></h5>
                <p class="card-text">
                    {{ product.description }}
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Price: ${{ product.price }}</li>
                <li class="list-group-item">
                    {% csrf_token %}
                    <label class="form-label" for="id_quantity">Qty:</label>
                    <input type="number" name="quantity" value="1" min="1"
                           required id="id_quantity"/>
                </li>
            </ul>
            <div class="card-body">
                <button class="learn-more-btn" type="submit">Buy now</button>
                <a class="contactus-bar-btn f_right" href="{% url 'shop' %}">Return</a>
                <br><br>
            </div>
        </form>
    </div>
</div>
<!-- Start Product tab -->
<section class="htc__product__details__tab bg__white pb--120">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <ul class="product__deatils__tab mb--60" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#description" role="tab" data-toggle="tab">Description</a>
                        {{ product.note }}
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- End Product tab -->
{% endblock %}