{% extends 'web/main.html' %}
{% block title %}<title>Register | Professional Sound</title>{% endblock %}
{% block content %}

<div class="body__overlay"></div>

<!-- Start Register Area -->
<div class="htc__login__register bg__white ptb--130"
     style="background: rgba(0, 0, 0, 0) url(static/web/images/bg/123.png) no-repeat scroll center center / cover ;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <ul class="login__register__menu" role="tablist">
                    <li role="presentation" class="register active"><a href="#register" role="tab"
                                                                       data-toggle="tab">Register</a></li>
                </ul>
            </div>
        </div>
        <!-- Start Register Content -->
        <div class="container">
            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}

                {% for field in user_form %}
                <div class="row">
                    <div class="col-12 col-lg-4 col-lg-offset-4 col-md-4 offset-md-4">
                        <div class="quote-form-wrapper">
                            <span style="color: red">{{ field.errors }}</span>
                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <br>
                <div class="row">
                    <div class="col-12 col-lg-2 col-lg-offset-5 col-md-4 offset-md-4">
                        <div class="quote-form-wrapper">
                            <button type="submit" class="request-quote-btn">Register</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <br><br>

        <!-- Start Single Content -->

        <!-- End Single Content -->
    </div>
</div>
</div>
<!-- End Register Content -->
</div>
</div>
<!-- End Register Area -->
{% endblock %}